body {
    background-image: url("../images/basic/backgroundi.png");
    color: white;
    font-family: Helvetica;
    background-size: cover;

}

p {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}


#header_el {

    text-decoration: none;
    color: white;
    padding: 3em 5% 3em;

}

.nav_main {
    text-align: center;
    margin-top: 1em;
    vertical-align: sub;
}

#logo {
    margin-left: 7%;
    margin-right: 7%;

}

.card>img {
    width: 60%;
    height: 60%;
}


/*welcoming page*/

#welcome_section {
    margin-bottom: 2em;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}



#cocktailoftheweekIMG {
    height: 35em;
    position: relative;
    top: -15em;
    left: 22%;
    z-index: -1;
}

#Name_cocktailOTW {
    font-size: 6em;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

#crown {
    height: 2em;
    position: relative;

}

img#crown {
    top: -18px;
    position: relative;
    left: -18px;

}

#welcome_section p {
    margin-bottom: 0;
}

#cocktailoftheweek {
    position: relative;
    bottom: -30px;
}


/*Match maker*/

#Matcher_section {
    text-align: center;
}

#Matcher_section h1 {
    font-variant-caps: all-small-caps;
    font-size: 5em;
    line-height: px;
}

#Matcher_section h2 {
    color: orange;
    font-variant-caps: all-small-caps;

}

h1 {
    line-height: px;
    margin-bottom: 0px m !important;
    padding: 0px;
}

.ingredient_type {
    padding: 10px 5px;
    width: 12em;
    margin: 2em auto 2em 0;
    background-color: white;
    color: black;
}

.row {
    margin: auto;
    justify-content: center;
    width: 80%;
}


.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Style the counter cards */
.card {

    width: 180px;
    height: 220px;
    /* this adds the "card" effect */
    border: 0px solid;
    margin-left: 10px;
    margin-right: 10px;
    background-color: transparent;
    justify-content: space-between;

}

.card img {
    width: 100%;
}

.card__thumb img {
    display: block;
    width: 100%;
}

/* #add_button {
    background-color: orange;
    border-style: none;
    color: white;
    width: 4em;

} */

#add_button {

    width: 30px;
    height: 30px;
    border-style: none;
    background: transparent;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
}

.card_content {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.card_content>div {
    text-align: left;
}











/* about page*/


.aboutHolder {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 500px;

    align-items: center;
}

.aboutHolder>div {
    width: 450px;
    padding-right: 20px;
    padding-left: 80px;
}

.aboutInfoL {
    border-right: solid white 2px;
    height: 276px;

}

.aboutInfoR {
    height: 276px;
}

#about_content {
    margin: 10% 15% auto 14%;
    width: 1300px;
}

/* Float wrappers */
#about_content>div {
    display: inline-block;
    vertical-align: middle;
    width: 40%;
    height: 227px;
}

#float-right {
    border-left: solid 2px white;
    padding-left: 130px;
    margin-left: 20px;
}



#about_content h1 {
    margin-bottom: 20px;
}

/* =================================================================
                                all drinks 
================================================================*/

#allDrinks {
    margin-top: 30px;
}


#row4:after {
    content: "";
    display: table;
    clear: both;
}

#row4 {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    flex-wrap: wrap;


}

#row4>div {

    background-color: none;
    width: 265px;
    padding: 10px;
    height: 550px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
}

.ingredientShow {
    display: flex;
    align-items: center;
    margin-top: 20px;
    flex-wrap: wrap;
}

#oneDrinkImg {
    max-width: 100%;
    max-height: 100%;
    display: block;
    /* remove extra space below image */
}

#ingredientImg {
    width: 80px;

}



/* =================================================================

FAVORITE

 =================================================================*/

.flex-container {
    /* We first create a flex layout context */
    display: flex;

    /* Then we define the flow direction 
     and if we allow the items to wrap 
   * Remember this is the same as:
   * flex-direction: row;
   * flex-wrap: wrap;
   */
    flex-flow: row wrap;

    /* Then we define how is distributed the remaining space */
    justify-content: space-around;

    padding: 0;
    margin-top: 30px;
    list-style: none;
}

.flex-item {

    padding: 5px;
    width: 33%;
    height: 250px;
    margin-top: 50px;
    color: white;

    display: flex;
    vertical-align: center;
    align-items: center;

}



#favoriteThumb {
    max-height: 20%;
    display: block;
    /* remove extra space below image */
}

/* colum2*/

#row4:after {
    content: "";
    display: table;
    clear: both;
}

#ingredients4 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


#ingredients4>div {


    width: 50%;

}

#all1in4 {
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

#optionsFav {
    display: flex;
    justify-content: center;

}


#centerOptions>button {

    border: none;
    width: 100%;
    align-items: center;
    background: transparent;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
    color: white;

}

#centerOptions {
    text-align: center;
}

#spanName {
    position: absolute;
    z-index: 1;

}

#favouriteThumb {
    z-index: -1;
    position: relative;
}

.imgHolder {
    position: relative;

}

.imgHolder span {
    position: absolute;
    left: 25%;
    top: -45px;
    font-size: 3em;
}


/* =================================================================

contact

 =================================================================*/

#contactContainer:after {
    content: "";
    display: table;
    clear: both;
}

#contactContainer {
    display: flex;
    justify-content: center;
    margin-top: 200px;
    flex-wrap: wrap;
    align-items: center;

}

#contactContainer>div {
    background-color: none;
    width: 50%;
}

#contactImg {
    float: right;
}

#contactText {
    padding-left: 50px;
}


.containermiddle {

    width: 100%;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
}

#headerAllDrinks {
    display: flex;
    justify-content: center;
    width: 80%;
    flex-wrap: wrap;
    align-items: center;
    margin: auto;
}

#headerAllDrinks>div {
    background-color: none;
    width: 50%;
}

#filterElements {
    text-align: right;
}

h3 {
    font-size: 4em;
}

.addHolder {
    position: relative;
}

.btn {

    position: absolute;
    z-index: 1;
    background-color: white;
    border-radius: 30px;
    right: 10px;
    top: 10px;

}