@import "../css/favorite.css";
@import "../css/contact.css";
@import "../css/about.css";
@import "../css/alldrinks.css";

body {
    background-image: url("../images/basic/backgroundi.png");
    color: white;

    background-size: cover;

}

p {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}


#header_el {

    text-decoration: none;
    color: white;

}





.header {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    align-items: center;
    margin-top: 20px;
}





.card>img {
    width: 60%;
    height: 60%;
}


/*welcoming page*/

#welcome_section {
    margin-bottom: 2em;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}



#cocktailoftheweekIMG {
    height: 35em;
    position: relative;
    top: -15em;
    left: 22%;
    z-index: -1;
}

#Name_cocktailOTW {
    font-size: 6em;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

#crown {
    height: 2em;
    position: relative;

}

img#crown {
    top: -18px;
    position: relative;
    left: -18px;

}

#welcome_section p {
    margin-bottom: 0;

}

#cocktailoftheweek {
    position: relative;
    bottom: -30px;
}


/*Match maker*/

#Matcher_section {
    text-align: center;
    margin-bottom: 100px;
}

#Matcher_section h1 {
    font-variant-caps: all-small-caps;
    font-size: 5em;
    line-height: px;
}

#Matcher_section h2 {
    color: orange;
    font-variant-caps: all-small-caps;

}

h1 {
    line-height: px;
    margin-bottom: 0px m !important;
    padding: 0px;
}

.ingredient_type {
    padding: 10px 5px;
    width: 12em;
    margin: 2em auto 2em 0;
    background-color: white;
    color: black;
}

.row {
    margin: auto;
    justify-content: center;
    width: 80%;
}


.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Style the counter cards */
.card {

    width: 180px;
    height: 220px;
    /* this adds the "card" effect */
    border: 0px solid;
    margin-left: 10px;
    margin-right: 10px;
    background-color: transparent;
    justify-content: space-between;

}

.card img {
    width: 100%;
}

.card__thumb img {
    display: block;
    width: 100%;
}

/* #add_button {
    background-color: orange;
    border-style: none;
    color: white;
    width: 4em;

} */

#add_button {

    width: 30px;
    height: 30px;
    border-style: none;
    background: transparent;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
}

.card_content {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.card_content>div {
    text-align: left;
}

#comingSoon {
    background-color: orange;
    width: 30%;
    padding: 20px;
    opacity: 80%;
    font-size: 1em;
    position: absolute;
    left: 35%;
    bottom: -100%;
}